[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
rosetta = "*"
scipy = "*"
nltk = "*"
pandas = "*"
django-rosetta = "*"
django-parler = "*"

[dev-packages]

[requires]
python_version = "3.9"
